:root{
    background-color: red;

    --brand-color-primary: #F7B733;
    --brand-color-secondary: #FC4A1A;
    --brand-gradient: linear-gradient(90deg,#FC4A1A, #F7B733);

    background-color: var(--brand-gradient);
    
    
}   